body{
    box-sizing: border-box;
    background-color: rgb(26, 26, 29);
}
#dugmeDodajRed,#resetujFakturu,#stampajFakturu,#sacuvajFakturu{
    background-color: rgb(30,34,34);
    color: white;
    height: 45px;
    width: 22%;
    margin-left: 2%;        
    margin-bottom: 3%;
}
#dugmeDodajRed:hover,#resetujFakturu:hover,#stampajFakturu:hover,#sacuvajFakturu:hover{
    background-color: rgb(63,63,66);
    border-color: rgb(255, 85, 0);
}
#fakturaA4{
    height:29.7cm;
    width:21cm;
    border: solid 1px black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px rgb(63,63,66);
    background-color: white;
} 
#fakturaA4>form>input{
    border: none;
    border-bottom: solid 1px black;
}
.podatci>form>input{
    border: none;
    border-bottom: solid 1px black;
}
h1{
    position: relative;
    float: left;
    margin-left: 2%;
    height: 0px;
}
h3{
    margin-left: 2%;
}
#fakturaPodatci{
    position: relative;
    float: right;
}
#formaPosiljaoca,#formaPrimaoca{
    margin-left: 2%;
  
}
.podatci{
    position: relative;
    top: 3%;
}
#fakturaBroj{
    width: 39%;
}
#tabelaFakture{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
}
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
.tabelaOpis{width:50%;}.tabelaKolicina{width: 8%;}.tabelaCena{width: 20%;}.opisInput{width: 98%};

