#modalAnalitikaRacuna {
    position: relative;
    float: right;
    right: 5%;
    text-align: center;
    align-content: center;
    display: none;
    height: 100%;
    width: 100%;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

#naslovAnalitikaRacuna{
    width: 100%;
    min-height: 50px;
    color: white;
    font-size: 30px;
    position: relative;
    left: 5%;
    border-right: solid 3px rgb(255, 85, 0);
}
#dugmeSacuvajAnalitiku,#dugmeStampajAnalitiku{
    background-color: rgb(26,26,29);
    border-color: rgb(63, 63, 66);
    color: white;  
    font-size: 24px;
}
#dugmeSacuvajAnalitiku:hover,#dugmeStampajAnalitiku:hover{
    background-color: rgb(63, 63, 66);
    border-color: rgb(255, 85, 0);
}
#mainAnalitikaRacuna{
    display: block;
    min-height: 597px;
    width: 100%;
    position: relative;
    left: 5%;
    border-right: solid 3px rgb(255, 85, 0);
}
#dugmeIzadjiIzAnalitikaRacuna{
    position: relative;
    float: right;
    width: 6px;
    height: 15px;
    font-size: 10px;
    font-weight: 700;
}
#dugmeIzadjiIzAnalitikaRacuna:hover{
    border-color: rgb(255, 85, 0);
}
#formaAnalitikaRacuna{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 36px;
    border-bottom: solid 3px rgb(255, 85, 0);
}
#formaAnalitikaRacuna input{
position: relative;
text-align: center;
font-size: 18px;
border: solid 1px rgb(255, 85, 0);
margin-left: 2px;
width: 25%;
}
#sacuvanaAnalitika{
    width: 40%;
    min-height: inherit;
    border-right: solid 3px rgb(255, 85, 0); 
}
#prikazAnalitike{
    width: 60%;
    position: relative;
    float: right;
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
}
#listaSacuvaneAnalitike{
    position: relative;
    float: left;
    min-height: inherit;
    list-style: none;
    width: 100%;
    padding: 0;
}
#listaSacuvaneAnalitike li{
    color: white;
    width: 50%;
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;
    
}
#listaSacuvaneAnalitike em{
    color: white;
    font-size: 28px;
    cursor: pointer;
    position: relative;
    float: right;
    margin-top: -9%;
}
#listaSacuvaneAnalitike em:hover{
    color: red;
}
#listaSacuvaneAnalitike li:hover{
    color: red;

}
#prikazanDatum,#prikazanaStranka,#prikazanaDugovanja,#prikazanaPotraznja{
    width: 66%;
    height: 40px;
    color: white;
    text-align: left;
    margin-left: 2%;
    font-size: 24px;
}
#prikazanaDugovanja{
    color: aqua;
}
#prikazanaPotraznja{
    color: red;
}
#nazivPrikaza{
    color: white;
    font-size: 24px;
    width: 30%;
}
#grafickiPrikaz{
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height: 450px;
}
#graficikiDugovanje,#grafickiPotraznja{
    width: 15%;
    margin-left: 2%;
}
@media screen and (max-width: 425px){
    #dugmeSacuvajAnalitiku, #dugmeStampajAnalitiku{
        font-size: 20px;
    }  
    #formaAnalitikaRacuna input{
        text-align: left;
        font-size: 12px;
    }
    #nazivPrikaza{
        font-size: 20px;
        margin-left: 6%;
    }
    #listaSacuvaneAnalitike li{
        width: 100%;
        font-size: 16px;
    }
    #listaSacuvaneAnalitike em{
        float: none;
        margin: 0 auto;
        font-size: 16px;
    }
    #prikazanDatum, #prikazanaStranka, #prikazanaDugovanja, #prikazanaPotraznja{
        font-size: 20px;
        margin-left: 20%;
    }
}

