
#modalDigitron {
    position: relative;
    float: right;
    top: 0;
    right: 5%;
    text-align: center;
    align-content: center;
    display: none;
    height: 100%;
    width: 100%;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    
}
#naslovDigitron{
    width: 60%;
    color: white;
    font-size: 24px;
    min-height: 145px;
    border-right: solid 3px rgb(255, 85, 0);
    border-bottom: solid 3px rgb(255,85, 0);
    display: flex;
    flex-flow: row wrap;
    position: relative;
    left: 5%;
}
#mainDigitron {
    min-height: 502px;
    width: 60%;
    position: relative;
    left: 5%;
    border-right: solid 3px rgb(255, 85, 0);
}
#dugmeIzadjiIzDigitrona{ 
    width: 6px;
    height: 15px;
    font-size: 10px;
    font-weight: 700;
    position: relative;
    float: right;
    left: 97%;
    }
    #dugmeIzadjiIzDigitrona:hover{
        border-color: rgb(255, 85, 0);
    }
#prikazIskucanihBrojeva{
    width: 100%;
    height: 50%;
    position: relative;
    top: 25px;
    font-size: 60px;
    border: solid 3px rgb(72,181,140);
    background-color: rgb(70, 73, 74);
    color: white;
}
#digitronDugmici>button{
    width: 70px;
    height: 70px;
    margin-top: 2%;
    border: solid 3px rgb(72,181,140);
    border-radius: 25%;
    background-color: rgb(70, 73, 74);
    color: white;
    font-size: 24px;
}
#digitronDugmici>button:hover{
    border-color: rgb(70, 73, 74);
    background-color:rgb(72,181,140);
}
#digitronDugmici{
    position: relative;
    top: 15%;
}
@media screen and (max-width: 800px){
    #naslovDigitron{width: 100%}
    #mainDigitron {width: 100%}  
}
@media screen and (max-width: 425px){
    #naslovDigitron {
        min-height: 83px;   
    }
    #prikazIskucanihBrojeva {
        font-size: 40px;
        top: 0px;
    }
    #digitronDugmici>button {
        width: 60px;
        height: 60px;
        margin-top: 5%;
    }
}
@media screen and (max-width: 320px){
    #digitronDugmici>button {
        width: 50px;
        height: 50px;
    }
}