#modalKreiranjeDokumenata{
    position: relative;
    float: right;
    top: 0;
    right: 5%;
    text-align: center;
    align-content: center;
    display: none;
    height: 100%;
    width: 100%;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    
}
#naslovKreiranjeDokumenata{
    width: 60%;
    min-height: 50px;
    color: white;
    font-size: 30px;
    position: relative;
    left: 5%;
    border-bottom: solid 3px rgb(255, 85, 0);
    border-right: solid 3px rgb(255, 85, 0);
    border-top: solid 3px rgb(255, 85, 0);
}
#mainKreiranjeDokumenata{
    display: flex;
    flex-direction: column;
    min-height: 597px;
    width: 60%;
    position: relative;
    left: 5%;
    border-right: solid 3px rgb(255, 85, 0);
}
#dugmeIzadjiIzKreiranjeDokumenata{
    position: relative;
    float: right;
    width: 6px;
    height: 15px;
    font-size: 10px;
    font-weight: 700;
}
#dugmeOsveziKreiranjeDokumenata{
    position: relative;
    float: right;
    width: 6px;
    height: 15px;
    font-size: 10px;
    font-weight: 700; 
}
#dugmeIzadjiIzKreiranjeDokumenata:hover,#dugmeOsveziKreiranjeDokumenata:hover{
    border-color: rgb(255, 85, 0);
}
#tekstKreiranogDokumenta{
    height: 500px;
    text-align: justify;
}
#sacuvajDokument{
    background-color: rgb(26,26,29);
    border-color: rgb(63, 63, 66);
    color: white;  
    font-size: 24px;
    position: relative;
    width: 50%;
    left: 25%;
}
#sacuvajDokument:hover{
    background-color: rgb(63, 63, 66);
    border-color: rgb(255, 85, 0);
}
#nazivDokumenta{
    text-align: center;
    font-size: 24px;
    border: solid 2px rgb(255, 85, 0);;
    background-color: rgb(70, 73, 74);
    color: white;
    height: 45px;
}
#otvoriSacuvanaDokumenta{
    background-color: rgb(26,26,29);
    border-color: rgb(63, 63, 66);
    color: white;  
    font-size: 24px;
    position: relative;
    width: 50%;
    left: 25%;
}
#otvoriSacuvanaDokumenta:hover{
    background-color: rgb(63, 63, 66);
    border-color: rgb(255, 85, 0)
}
@media screen and (max-width: 800px){
    #naslovKreiranjeDokumenata{width: 100%}
    #mainKreiranjeDokumenata {width: 100%}  
}