#modalKnjizenjeRobe{
    position: relative;
    float: right;
    top: 0;
    right: 5%;
    text-align: center;
    align-content: center;
    display: none;
    height: 100%;
    width: 100%;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    
}
#naslovKnjizenjeRobe{
    width: 100%;
    min-height: 50px;
    color: white;
    font-size: 30px;
    position: relative;
    left: 5%;
    border-bottom: solid 3px rgb(255, 85, 0);
    border-right: solid 3px rgb(255, 85, 0);
    border-top: solid 3px rgb(255, 85, 0);
}
#mainKnjizenjeRobe{
    display: flex;
    flex-direction: row;
    min-height: 597px;
    width: 100%;
    position: relative;
    left: 5%;
    border-right: solid 3px rgb(255, 85, 0);
}
#dugmeIzadjiIzKnjizenjeRobe{
    position: relative;
    float: right;
    width: 6px;
    height: 15px;
    font-size: 10px;
    font-weight: 700;
}
#dugmeIzadjiIzKnjizenjeRobe:hover{
    border-color: rgb(255, 85, 0);
}
#formaKnjizenje{
    width: 25%;  
    margin-left: 2%;
    margin-top: 2%;
}
#prikazIzFormeKnjizenje{
    width: 74%;
    border-left: solid 3px rgb(255, 85, 0);
    margin-left: 4%;
    margin-right: 2%;
}
#knjizenjeRobeForma label{
    color: white;
    font-size: 28px;
    position: relative;
    float: left;
}
#knjizenjeRobeForma input{
    position: relative;
    float: left;
    margin-top: 1%;
}
#nazivProizvoda{
    margin-right: 3%;
    margin-bottom: 1%;
}
#footerKnjizenjeRobe{
    width: 100%;
    min-height: 50px;
    color: white;
    font-size: 30px;
    position: relative;
    left: 5%;
    border-right: solid 3px rgb(255, 85, 0);
    border-top: solid 3px rgb(255, 85, 0);
}
#dugmeDodajProizvod{
    width: 25%;
    margin: 0 auto;
    margin-bottom: 1%;
}

#dugmeDodajProizvod{
background-color: rgb(26,26,29);
   border-color: rgb(63, 63, 66);
   color: white;  
   font-size: 24px;
   margin-top: 1%;
}
#dugmeDodajProizvod:hover{
    background-color: rgb(63, 63, 66);
    border-color: rgb(255, 85, 0);
}
#prikazIzFormeKnjizenje li em{
   margin-right: 20px;
}
#prikazIzFormeKnjizenje li{
    width: 100%;
}
#opisProizvod{
    position: relative;
    float: left;
    width: 100%;
}
#kolicinaProizvoda,#nazivProizvoda,#sifraProizvoda{
    width: 80%;
    margin-top: 1%;
}
#modalKnjizenjeRobePrikazProizvoda{
    position: absolute;
    top: 7%;
    left: 34%;
    text-align: center;
    align-content: center;
    display: none;
    height: 83%;
    width: 71%;
    background-color: rgb(63, 63, 66);
    color: white;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
    border: solid 3px rgb(255, 85, 0);
    
}
#dugmeIzadjiIzmodalKnjizenjeRobePrikazProizvoda{
    position: relative;
    float: right;
    width: 12px;
    height: 15px;
    font-size: 11px;
    font-weight: 700;    
    }
#dugmeIzadjiIzmodalKnjizenjeRobePrikazProizvoda:hover{
     border-color: rgb(255, 85, 0);
    }
#prikazProizvodaIzLocala{
    position: relative;
    float: left;
    margin-top: 5%;
    margin-left: 3%;
}
#prikazProizvodaIzLocala h2{
display: inline;
}
@media screen and (max-width: 800px){
    #knjizenjeRobeForma label {
        font-size: 20px;
    }
}
