*html{ box-sizing:border-box; }
* , *:before, *:after{ box-sizing:inherit; }
body{
    margin: 0 auto;
    padding: 0;
    height: auto;
    background-color: rgb(26, 26, 29);
}
#celaStranica{
    max-width: 1600px;
}
header{
    background-color: rgb(30,34,34); 
    border: 3px solid rgb(255,85,0);
    position: relative;
}
#PodatciUlogovanogKorisnika{
    color: white;
    position: relative;
    float: right;
    margin-right: 10%;
    top: 10px;
    font-size: 35px;
    left: 95px;

} 
#PodatciUlogovanogKorisnika>h4{
    font-weight: 700;
}
.naslov{
    margin: auto;  
    text-align: center;
  
}
.naslov h1{
    position: relative;
    top: 40px;
    font-size: 50px;
    width: 20%;
    margin: 0 auto;
}
.naslov>a{
    color: white;
    text-decoration-line: none;
}
.naslov span{
    color: rgb(255,85,0);
    font-style: italic;
    font-weight: bold;
}
.naslov h1{font-style: italic;}
.podatciKorisnika h4{text-decoration: underline;}
#logoutDugme{list-style: none;text-decoration-line: none;position: relative;margin-bottom: 0%;cursor: pointer;width: 10%;right: 2%;}
#logoutDugme li{display: inline-block;background:rgb(30, 34, 34);text-decoration-line: none;}
#logoutDugme li:hover{background-color: rgb(63, 63, 66);}
#logoutDugme li a{display: block;padding:5px 15px;border:solid rgb(255, 85, 0) 2px;color: white;font-size: 20px;}

  /*//////////////////////////////////////////////////   MAIN    ////////////////////////////////////*/
main{
    background-color: rgb(30,34,34); 
    position: relative;
    float: right;
    width: 83%;
    border: 3px solid rgb(255, 85, 0);
    margin: 1% 0 1% 1%;
}
#mainSve{
    display: flex;
    flex-flow: row wrap;
    min-height:650px;
}
/*/////////////////////// ASAID /////////////////*/
aside{
    background-color: rgb(30, 34, 34);
    position: relative;
    float: left;
    width: 15%;
    min-height: 650px;
    margin-top: 1%;
    border: 3px solid rgb(255, 85, 0);
}
aside>button{
background-color: rgb(26,26,29);
border-color: rgb(63, 63, 66);
color: white;
margin: 3% 3% 3% 6%;
width: 80%;
font-size: 24px;
font-weight: 500;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
}
aside>button:hover{
    background-color: rgb(63, 63, 66);
    border-color: rgb(255, 85, 0);

}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


#citatiRandom{
    display: block;
    width: 90%;
    height: 200px;
    margin-left: 2%;
    color: white;
    position: absolute;
    top: 110%;
    font-size: 42px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}
@media screen and (max-width: 1200px){
    header{
        width: 96%;  
        margin-left: 1%;
        display: flex;
        flex-direction: column;
    }
    #logoutDugme li a{
        font-size: 16px;
    }
    #PodatciUlogovanogKorisnika{
        display: flex;
        justify-content: center; 
    }
    .naslov h1{
        margin-left: 15%;
    }
    #datumDiv{
        display: flex;
        justify-content:center ;
        margin-right: -15%;
        margin-bottom: -3%;
    }
    #sat{ 
        display: flex;
        justify-content: center;
        margin-right: 12%;
        margin-bottom: -4%;
    }
  
    aside{
        width: 96%; 
        display: flex;
       flex-flow: row wrap;
       min-height: 150px;
      margin-left: 1%;
    }
    aside>button{
        height: 65px;
        width: 15%;
        margin: 3px;
        margin-top: 10px;
        margin-left: 3%;
    }
    main{
        width: 96%;  
        margin-left: 1%;  
        position: relative;
        float: left;
    }

}
@media screen and (max-width: 915px){
    header{
        display: block;
    }
    #PodatciUlogovanogKorisnika{
        font-size: 30px;
        margin-right: 41%;
    }
    #logoutDugme li a{
        width: 100%;
    }
    
    #datumDiv,#sat{
        display: none;
    }
    .naslov h1{
        font-size: 40px;
        margin-right: 8%;
    }
    aside>button{
        font-size: 18px;
        height: 25px;
        width: 28%;
    }
}
@media screen and (max-width: 675px){
    aside>button{
        font-size: 18px;
        height: 25px;
        width: 50%;
        margin-left: 25%;
    }
    #citatiRandom{
        font-size: 28px;
    }
}









