*html{ box-sizing:border-box; }
* , *:before, *:after{ box-sizing:inherit; }
body{
    margin: 0 auto;
    padding: 0;
    height: auto;
    background-color: rgb(26, 26, 29);
}
#celaStranica{
    max-width: 100%;
}
header{
    background-color: rgb(30,34,34); 
    border: 3px solid rgb(255,85,0);
    position: relative;
    max-width: 98%;
}
#PodatciUlogovanogKorisnika{
    color: white;
    position: relative;
    float: right;
    margin-right: 10%;
    top: 10px;
    font-size: 35px;
    left: 95px;

} 
#PodatciUlogovanogKorisnikaImeiPrezime{
    color: white;
    position: relative;
    float: right;
    margin-top: -7%;
    font-size: 35px;
    margin-left: 76%;
    margin-right: 5%;
}
.naslov{
    margin: auto;  
    text-align: center;
    width: 40%;
  
}
.naslov h1{
    position: relative;
    top: 40px;
    font-size: 50px;
    width: 20%;
    margin: 0 auto;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px rgb(72,181,140), 0 0 30px rgb(72,181,140), 0 0 40px rgb(72,181,140), 0 0 55px rgb(72,181,140), 0 0 75px rgb(72,181,140);
}
.naslov>a{
    color: white;
    text-decoration-line: none;
}
.naslov span{
    color: rgb(255,85,0);
    font-style: italic;
    font-weight: bold;
}
.naslov h1{font-style: italic;}
.podatciKorisnika h4{text-decoration: underline;}
#logoutDugme{list-style: none;text-decoration-line: none;position: relative;margin-bottom: 0%;cursor: pointer;width: 10%;right: 2%;}
#logoutDugme li{display: inline-block;background:rgb(30, 34, 34);text-decoration-line: none;}
#logoutDugme li:hover{background-color: rgb(63, 63, 66);}
#logoutDugme li a{display: block;padding:5px 15px;border:solid rgb(255, 85, 0) 2px;color: white;font-size: 20px;}

  /*//////////////////////////////////////////////////   MAIN    ////////////////////////////////////*/
main{
    background-color: rgb(30,34,34); 
    position: relative;
    float: right;
    width: 81%;
    border: 3px solid rgb(255, 85, 0);
    margin: 1% 2% 1% 1%;
}
#mainSve{
    display: flex;
    flex-flow: row wrap;
    min-height:650px;
}
/*/////////////////////// ASAID /////////////////*/
aside{
    background-color: rgb(30, 34, 34);
    position: relative;
    float: left;
    width: 15%;
    min-height: 650px;
    margin-top: 1%;
    border: 3px solid rgb(255, 85, 0);
}
aside>button{
background-color: rgb(26,26,29);
border-color: rgb(63, 63, 66);
color: white;
margin: 3% 3% 3% 6%;
width: 80%;
font-size: 24px;
font-weight: 500;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
}
aside>button:hover{
    background-color: rgb(63, 63, 66);
    border-color: rgb(255, 85, 0);

}
#citatiRandom{
    display: block;
    width: 90%;
    height: 200px;
    margin-left: 2%;
    color: white;
    position: absolute;
    top: 110%;
    font-size: 42px;
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}





