@media screen and (max-width: 1360px){
    header{
        width: 95%;  
    }
    #logoutDugme li a{
        font-size: 16px;
        width: 66%;
    }
    #PodatciUlogovanogKorisnika{
        display: flex;
        justify-content: center; 
        font-size: 28px;
    }
    #PodatciUlogovanogKorisnikaImeiPrezime{
        margin-top: -7%;
        font-size: 28px;
    }
    main{
        width: 78%;   
        position: relative;
        float: left;
    }
}
@media screen and (max-width: 1024px){
    header{
        width: 96%;  
        margin-left: 1%;
    }
    #logoutDugme li a{
        font-size: 16px;
        width: 66%;
    }
    #PodatciUlogovanogKorisnika{
        display: flex;
        justify-content: center; 
        font-size: 26px;
    }
    #PodatciUlogovanogKorisnikaImeiPrezime{
        margin-top: -13%;
        font-size: 26px;
        margin-right: 1%;
        margin-left: 70%;
    }
    .naslov h1{
        margin-left: 15%;
    }
  
    aside{
        width: 96%; 
        display: flex;
       flex-flow: row wrap;
       min-height: 150px;
      margin-left: 1%;
    }
    aside>button{
        height: 65px;
        width: 15%;
        margin: 3px;
        margin-top: 10px;
        margin-left: 3%;
    }
    main{
        width: 96%;  
        margin-left: 1%;  
        position: relative;
        float: left;
    }
 }
 @media screen and (max-width: 800px){
    #logoutDugme li a{
        width: 86%;
    }
    .naslov h1{
        font-size: 40px;
    }
    aside>button{
        height: 37px;
        width: 43%; 
    }
    #dugmeKontakt{
        margin: 10px auto;
    }
    #PodatciUlogovanogKorisnika{
        margin-right: 14%;
    }
    #PodatciUlogovanogKorisnikaImeiPrezime{
        margin-left: 50%;
    }
  
 }
 @media screen and (max-width: 425px){
    header{
        width: 94%;
        margin-left: 0%;
    }
    aside{
        width: 94%;
        justify-content: center;
        margin-left: 0%;
    }
    aside>button{
        height: 30px;
        width: 90%; 
        font-size: 20px;
    }
    main{
        width: 94%;
        margin-left: 0%;
    }
    #logoutDugme {
        right: 10%;
    }
    #PodatciUlogovanogKorisnika{
        font-size: 18px;
        margin-right: 26%;
        margin-top: -2%;
    }
    #PodatciUlogovanogKorisnikaImeiPrezime{
        font-size: 18px;
        margin-top: -27%;
        margin-right: 3%;
    }
    .naslov h1{
        font-size: 30px;
        top: 50px;
    }
    #citatiRandom{
        top: 106%;
        font-size: 24px;
    }
 }