#modalNabavka {
    position: relative;
    float: right;
    right: 5%;
    text-align: center;
    align-content: center;
    display: none;
    height: 100%;
    width: 100%;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    
}
 
#naslovNabavka{
    width: 60%;
    min-height: 50px;
    color: white;
    font-size: 30px;
    position: relative;
    left: 5%;
    border-bottom: solid 3px rgb(255, 85, 0);
    border-right: solid 3px rgb(255, 85, 0);
    border-top: solid 3px rgb(255, 85, 0);
}
#mainNabavka{
    display: flex;
    flex-direction: column;
    min-height: 597px;
    width: 60%;
    position: relative;
    left: 5%;
    border-right: solid 3px rgb(255, 85, 0);
}
#dugmeIzadjiIzNabavka{
    position: relative;
    float: right;
    width: 6px;
    height: 15px;
    font-size: 10px;
    font-weight: 700;
}
#dugmeIzadjiIzNabavka:hover{
    border-color: rgb(255, 85, 0);
}
 
.nalogZaNabavku,#prikazDobavljaca{
    list-style-type: none;
    position: relative;
    font-size: 30px;
}
.nalogZaNabavku li{
   text-decoration: none;
}
#dodajDobavljaca{
   background-color: rgb(26,26,29);
   border-color: rgb(63, 63, 66);
   color: white;  
   font-size: 24px;
   position: relative;
   left: 2%;
   margin-bottom: 5%;
}
#dodajDobavljaca:hover{
   background-color: rgb(63, 63, 66);
   border-color: rgb(255, 85, 0);
}
#emailDobavljaca{
    border:solid 3px rgb(72,181,140);
    height: 35px;
    width: 60%;
   text-align: center;
   margin-top: 1%;
   margin-bottom: 1%;
   position: relative;
   left: 2%;
   font-size: 24px;
}
#emailDobavljaca:placeholder-shown{
border: none;
}
#prikazDobavljaca li{
   text-decoration: none;
   margin-bottom: 1%;
   -webkit-animation: scale-up-ver-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
   animation: scale-up-ver-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
#prikazDobavljaca li button{
   position: relative;
   float: right;
   background-color: rgb(63, 63, 66);
   border-color: rgb(255, 85, 0);
   color: white; 
   font-size: 20px;
   margin-left: -15%;
}
#prikazDobavljaca li button:hover{
   background-color: rgb(30, 34, 34);
   border-color: rgb(255, 85, 0);
}
@media screen and (max-width: 800px){
    #naslovNabavka{width: 100%}
    #mainNabavka {width: 100%}  
}
@media screen and (max-width: 425px){
    #naslovNabavka {
        font-size: 10px;
    }
    #emailDobavljaca {
        height: 30px;
        font-size: 20px;
    }
    #dodajDobavljaca {
        font-size: 20px;
    }
    .nalogZaNabavku li a,#prikazDobavljaca li{
        font-size: 26px;
    }
    #prikazDobavljaca li button {
        font-size: 16px;
    }
}

