*html{ box-sizing:content-box; }
* , *:before, *:after{ box-sizing:inherit; }
#formaRegistrujSe,#formaZaboravljenaSifra{
    display: none;
}
body{
    background-color: rgb(30, 34, 34);
}

#naslovA{
    color: white;
    text-decoration-line: none;
}
#naslovA>h1{
    font-size: 50px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px rgb(72,181,140), 0 0 30px rgb(72,181,140), 0 0 40px rgb(72,181,140), 0 0 55px rgb(72,181,140), 0 0 75px rgb(72,181,140);

}
span.naslov{
    color: rgb(255,85,0);
    font-style: italic;
    font-weight: bold;
}
/*Log In Stranica*/
#formaLogIn{
    background-color: rgb(26, 26, 29);
    list-style: none;
    width: 60%;
    margin: 90px auto;
    padding: 0;
    text-align: center;
    min-height: 500px;
    margin-bottom: 1%;
    margin-top: 1%;
    box-shadow: 5px 1px 81px 37px rgba(72,181,140,0.25); /*https://html-css-js.com/css/generator/box-shadow/*/
    
}

  
#emailLog,#passLog{
    border:solid 3px rgb(72,181,140);
    text-align: center;
    width: 50%;
    height: 40px;
    margin-top: 5%;
    font-size: 24px;
}
#emailLog:placeholder-shown,#passLog:placeholder-shown{
    border:solid 3px rgb(255, 85, 0);
    text-align: center;
    width: 50%;
    height: 40px;
    margin-top: 5%;
    font-size: 24px;
}
#lable{
    color: white;
    font-weight: 700;
    font-size: 24px;
    position: relative;
    top: 20px;
}
#dugmePrijaviSe,#dugmeRegistujSe{
    cursor: pointer;  
    background-color: rgb(30, 34, 34);
    border-color:  rgb(30, 34, 34);
    color: white;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
#dugmePrijaviSe:hover,#dugmeRegistujSe:hover{
    background-color: rgb(63, 63, 66);
    border-color: rgb(255, 85, 0);
}
#dugmeZaboravljenaSifra{
    border: solid 1px rgb(26, 26, 29);
    text-decoration: none;
    color: white; 
    background-color: rgb(255, 85, 0);
   
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
#dugmeZaboravljenaSifra:hover{
    border-color: rgb(255, 85, 0);
    background-color: rgb(26, 26, 29);
}

/*Registuj se forma*/

#formaRegistrujSeSve{
    list-style: none;
    width: 55%;
    margin: 20px auto;
    text-align: center;
    background-color: rgb(63, 63, 66);
    box-shadow: 5px 1px 81px 37px rgba(72,181,140,0.25);
    
}

strong{
color: white;
font-weight: 700;
font-size: 24px;
}
#registujSe{
    cursor: pointer;  
    background-color: rgb(30, 34, 34);
    border-color:  rgb(30, 34, 34);
    color: white;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
#registujSe:hover{
    background-color: rgb(63, 63, 66);
    border-color: rgb(255, 85, 0);
}
#imeRegistracija,#prezimeRegistracija,#emailRegistracija,#firmaRegistracija,#passwordRegistracija,#potvrdiPasswordRegistracija,#sifraFirmeRegistarcija{
    border:solid 3px rgb(72,181,140);
    text-align: center;
    width: 50%;
    height: 40px;  
    font-size: 24px;
}
#imeRegistracija:placeholder-shown,#prezimeRegistracija:placeholder-shown,#emailRegistracija:placeholder-shown,#firmaRegistracija:placeholder-shown,#passwordRegistracija:placeholder-shown,#potvrdiPasswordRegistracija:placeholder-shown,#sifraFirmeRegistarcija:placeholder-shown{
    border:solid 3px rgb(255, 85, 0);
    text-align: center;
    width: 50%;
    height: 40px;  
    font-size: 24px;
}
/*Zaboravljena sifra forma*/
#formaZaboravljenaSifra{
    list-style: none;
    width: 55%;
    margin: 10% auto;
    padding: 0;
    text-align: center;  
    background-color: rgb(63, 63, 66);
    box-shadow: 5px 1px 81px 37px rgba(72,181,140,0.25);
  
}
#UkucajSifruIzFirme,#ukucajEmail{
    color: white;
    font-weight: 700;
    font-size: 24px;
}
#dugmePotvrdiProveru{
    background-color: rgb(30, 34, 34);
    border-color:  rgb(30, 34, 34);
    color: white;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}
#dugmePotvrdiProveru:hover{
    background-color: rgb(63, 63, 66);
    border-color: rgb(255, 85, 0);
}
#prikazZaboravljeneSifre{
    color: white;
    font-weight: 600;
    font-size: 24px; 
    position: relative;
    top: 20px;
}
#odgovorEmail,#odgovor{
    border:solid 3px rgb(72,181,140);
    text-align: center;
    width: 50%;
    height: 40px; 
    font-size: 24px;
}
#odgovorEmail:placeholder-shown,#odgovor:placeholder-shown{
    border:solid 3px rgb(255, 85, 0);
    text-align: center;
    width: 50%;
    height: 40px; 
    font-size: 24px;
}
#citatiRandom{
    width: 25%;
    height: 250px;
    margin-left:-14%;
    color: white;
    position: absolute;
    bottom: 40%;
    font-size: 42px;
    font-family:'Brush Script MT', 'Brush Script Std', cursive;
}
#ugasiCitat{
background-color: rgb(26,26,29);
border-color: rgb(63, 63, 66);
color: white;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
}
#ugasiCitat:hover{
    background-color: rgb(63, 63, 66);
    border-color: rgb(255, 85, 0);
}
#dugmeVratiSe{
    position: absolute;
    width: 2%;
    left: 30%;
    height: 15px;
    float: left;
    border-color: rgb(255, 85, 0);
    background: rgb(26, 26, 29);
    color: white;
}
