#sat{
font-size: 30px;
color: white;   
position: relative;
float: left;
margin-left: 18%;
margin-top: 1%;
font-style: italic;
}
#datumDiv{
    font-size: 30px;
    color: white;   
    position: relative;
    float: left;
    margin-left: -10%;
    margin-top: 4%;
    font-style: italic;  
}
@media screen and (max-width: 1360px){
    #datumDiv{font-size: 28px;}
        #sat{font-size: 28px; }
}
@media screen and (max-width: 1024px){
#datumDiv{
    font-size: 26px;
    margin-left: -9%;
    margin-bottom: 3%;
    margin-top: 6%;
}
#sat{ 
    font-size: 26px;
    margin-left: 0%;
}
}
@media screen and (max-width: 800px){
    #datumDiv{
        font-size: 21px;
        margin-left: -10%;
        margin-bottom: 3%;
        margin-top: 6%;
    }
    #sat{ 
        font-size: 21px;
        margin-left: 0%;
    }   
}
@media screen and (max-width: 425px){
    #sat{
        font-size: 18px;
        margin-left: 4%;
     }
    #datumDiv{
        font-size: 18px;
        margin-left: -16%;
        margin-top: 8%;
    }
}